html, body {
  height: 100%;
}
body {
  background-image: url("background.jpg");
  background-size: cover;      /* fills the screen */
  background-repeat: no-repeat;
  background-position: center;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

header, footer, nav, section, article, aside {
  border: 2px solid #999;
  padding: 10px;
}

/* Page header */
body > header {
  background: rgba(230, 240, 255, 0.85);
}

/* Main layout */
main {
  display: flex;
  gap: 10px;
  padding: 10px;
}

/* Left content area */
.content {
  flex: 3;
  background:  rgba(234, 255, 234, 0.7);
}

/* Article */
article {
  background: #ffdede;
  margin-top: 10px;
}

/* Inside article */
.article-body {
  display: flex;
  gap: 10px;
}

.article-body p {
  flex: 2;
  background: rgba(255, 222, 222, 0.7);
}

aside {
  flex: 1;
  background: rgba(255, 243, 196, 0.85);
}

/* Right sidebar */
.sidebar {
  flex: 1;
  background: rgba(255, 240, 204, 0.85);
}

/* Page footer */
body > footer {
  background: rgba(217, 242, 166, 0.85);
}
